.card.login-card, .card.register-card {
    margin: 30px auto;
    max-width: 500px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border: none;
}
.card.register-card {
	max-width: 700px;
	}
.j-c-s-b{
  justify-content: space-between;
}
.a-i-c{
  align-items: center;
}
.card-header {
    font-size: 22px;
}
.form-group {
    position: relative;
    margin-bottom: 25px;
}
label.error {
    position: absolute;
    font-size: 13px;
    color: #f10707;
    margin: 0;
    top: 100%;
    left: 0;
    margin-top: 2px;
}